@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img{
    max-width: 100%;
}

@font-face {
    font-family: 'SW';
    src: url('../../assets/extra/SFDistantGalaxy.ttf');
}

@font-face {
    font-family: 'DS';
    src: url('../../assets/extra/DeathStar-VmWB.ttf');
}



div.contenedor {
    min-height: 100vh;
    background: url(../../assets/img/fondo.jfif) no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.contenedor div.contenido{
    width: 80%;
    min-height: 60vh;
    padding: 40px;
    background-position: center center;
    background: radial-gradient(circle, rgba(3, 2, 31, 0.8), rgba(21, 10, 124, 0.555));
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.contenedor div.contenido div.personaje{
    width: 208px;
    min-height: 273px;
    margin: 0 8%;
}

div.contenedor div.contenido div.personaje img{
    width: 208px;
    height: 273px;
    /* object-fit: cover; */
    border: #FFE81F 8px solid;
    border-radius: 7px;
    background-color: black;
}

div.contenedor div.contenido h2{
    margin-bottom: 18px;
    font-family: 'SW';
    font-size: 50px;
    color: black;
    -webkit-text-stroke: 1px #FFE81F;
}

div.contenedor div.contenido p{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
}

div.contenedor div.contenido p span{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: #FFE81F;
}